html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'OpenSans';
    user-select: none;
    //background: #361719;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Manrope';
    color: rgb(26, 83, 83);
    margin: 0;
}
a {
    text-decoration: none;
}
.wrapper {
    position: relative;
    height: 100vh;
}
.container {
    position: relative;
    height: 100%;
}