.avia {
    background: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    overflow: hidden;
}
.avia__logo {
    text-align: center;
}
.avia__title {
    position: relative;
    z-index: 100;
    font-family: 'Gilroy';
    color: #fff;
    text-align: center;
}
.avia__uptitle {
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
    color: #BA939C;
    margin-bottom: 19px;
}
.avia__maintitle {
    display: flex;
    flex-direction: column;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 24px;
    span {
        font-size: 52px;
        line-height: 52px;
        text-transform: uppercase;
    }
}
.avia__percents {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    line-height: 72px;
    .perc__start {
        margin-right: 24px;
    }
    .perc__plus {
        font-size: 56px;
        line-height: 88px;
        margin: 0 24px;
    }
    .perc__bg {
        display: flex;
        align-items: center;
        padding: 12px 24px;
        background: #CE0232;
        border-radius: 88px;
        font-size: 56px;
        line-height: 64px;
        &:nth-child(2) {
            display: flex;
        }
    }
    .two__lines {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 20px;
        line-height: 24px;
        padding: 0;
        margin-left: 16px;
    }
}
.avia__btn {
    position: relative;
    z-index: 100;
}
.avia__btn-link {
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Gilroy';
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    color: #fff;
    background-color: #CE0232;
    padding: 28px 10px;
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        left: -10%;
        border-bottom: 120px solid #CE0232;
        border-left: 41px solid transparent;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        right: -10%;
        width: 0;
        height: 0;
        border-top: 120px solid #CE0232;
        border-right: 41px solid transparent;
    }
}
.cloud__left {
    position: absolute;
    left: 0;
    top: 37%;
    animation: clouds 4s infinite alternate;
}
.cloud__right {
    position: absolute;
    right: 0;
    top: 27%;
    animation: clouds 4s infinite alternate;
}
.cabin {
    position: absolute;
    bottom: 0;
    z-index: 20;
    animation: sway 4s 1.5s infinite alternate;
}
.title__aviator {
    position: absolute;
    bottom: -46%;
    animation: clouds 3s 1.5s infinite alternate;
}
img.plane__left {
    position: absolute;
    top: 10%;
    left: -20%;
    animation: fly 4s 1s infinite alternate;
}
img.plane__right {
    position: absolute;
    top: 10%;
    right: -25%;
    animation: fly 4s 1s infinite alternate;
}
img.border__left {
    position: absolute;
    top: 5%;
    left: 2%;
}
img.border__right {
    position: absolute;
    top: -8%;
    right: 2%;
    transform: rotate(180deg);
}
@keyframes clouds {
    0% {
        top: 45%;
    }
    100% {
        top: 50%;
    }
}
@keyframes sway {
    0% {
        bottom: -15%;
    }
    100% {
        bottom: -25%;
    }
}
@keyframes fly {
    0% {
        top: 10%;
    }
    100% {
        top: 15%;
    }
}